@(teams: List[models.Team], pusher_key: String)

@main("Twilio - Devoxx 2014 Table Football Tournament") {
  <header>
    <img class="full-width" src="@routes.Assets.at("images/header.png")"></img>
    <h3>SMS "<span class="cn">join</span>" to 07903518484 to compete!</h3>
  </header>
  <article>
  <table id="rank_table">
    <tr>
      <th class="rank">RANK</th>
      <th>NAME</th>
      <th class="score">SCORE</th>
    </tr>
  
    <tr id="row_1" class=''>
      <td class="rank">1</td>
      <td  id="name_1">Public Putney Common Leisure </td>
      <td id="score_1" class="score">2</td>
    </tr>
  

    <tr id="row_2" class='alternate'>
      <td class="rank">2</td>
      <td  id="name_2">Package Wimbledon Common Ramblers</td>
      <td id="score_2" class="score">1</td>
    </tr>
    
    <tr id="row_3" class=''>
      <td class="rank">3</td>
      <td id="name_3">Native Hackney Downs College</td>
      <td id="score_3" class="score">1</td>
    </tr>
    
    
    <tr id="row_4" class='alternate'>
      <td class="rank">4</td>
      <td id="name_4">Static Stable Sporting Club</td>
      <td id="score_4" class="score">0.5</td>
    </tr>
    
    
    <tr id="row_5" class=''>
      <td class="rank">5</td>
      <td id="name_5">Int Camden Lock Hill</td>
      <td id="score_5" class="score">0</td>
    </tr>
    
   
  </table>
  </article>
}