@(teams: List[models.Team], pusher_key: String)

@main("Twilio - Devoxx 2014 Table Football Tournament") {
  <header>
    <img class="full-width" src="@routes.Assets.at("images/header.png")"></img>
    <h3>SMS "<span class="cn">join</span>" to 07903518484 to compete!</h3>
  </header>
  <article>
  <table id="rank_table">
    <tr>
      <th class="rank">RANK</th>
      <th>NAME</th>
      <th class="score">SCORE</th>
    </tr>
  
    <tr class=''>
      <td class="rank">1</td>
      <td>Public Putney Common Leisure </td>
      <td class="score">2</td>
    </tr>
  

    <tr class=''>
      <td class="rank">2</td>
      <td>Package Wimbledon Common Ramblers</td>
      <td class="score">1</td>
    </tr>
    
    <tr class=''>
      <td class="rank">3</td>
      <td>Native Hackney Downs College</td>
      <td class="score">1</td>
    </tr>
    
    
    <tr class=''>
      <td class="rank">4</td>
      <td>Static Stable Sporting Club</td>
      <td class="score">0.5</td>
    </tr>
    
    
    <tr class=''>
      <td class="rank">5</td>
      <td>Int Camden Lock Hill</td>
      <td class="score">0</td>
    </tr>
    
   
  </table>
  </article>
}